/* Estilos Gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 30px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn-preto:hover {
  color: #000;
  border-color: #000;
}

.subtitulo {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.subtitulo::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto 10px auto;
}

.subtitulo-interno {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitulo-interno::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0 10px 0;
}

.introducao-interna {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  padding-top: 30px;
}

.introducao-interna h1 {
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.introducao-interna h1::before,
.introducao-interna h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}

.introducao-interna p {
  color: #fff;
}

/* Header */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fec63e;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;
}

.header_menu ul li a:hover {
  color: #fff;
}

.header_menu ul li a.ativo {
  color: #fff;
}

.introducao {
  width: 100%;
  height: 380px;
  background: url("../assets/bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introducao h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote-externo {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #fff;
}

.quote-externo p {
  font-style: italic;
}

.quote-externo p::before,
.quote-externo p::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote-externo cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* Produtos */

.produtos {
  padding: 60px 0;
}

.produtos-lista li {
  background: #fec63e;
  text-align: center;
}

.produtos-lista li img {
  margin: 0 auto;
}

.produtos-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.produtos-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.produtos-lista li p {
  padding: 10px 20px 20px 20px;
}

.produtos-lista li div {
  background: #000;
  padding: 20px;
}

.call-to-action {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

.call-to-action p {
  margin-bottom: 20px;
}

/* Portifolio */
.portifolio {
  width: 100%;
  background: #000;
  padding: 40px;
}

.portifolio .subtitulo {
  color: #fec63e;
}

.portifolio .subtitulo::after {
  background: #fec63e;
}

.portifolio-lista li:last-child {
  margin-top: 20px;
}

.portifolio .call-to-action p {
  color: #fff;
}

/* qualidade */
.qualidade {
  padding: 60px 0;
}

.qualidade::after {
  content: "";
  width: 623px;
  height: 76.609px;
  background: url("../assets/linhas.svg") no-repeat center;
  position: absolute;
  top: 210px;
  left: 167.5px;
  z-index: -1;
}

.qualidade img {
  margin: 20px auto;
}

.qualidade-lista {
  padding-top: 20px;
  overflow: auto;
}

.qualidade-lista li {
  text-align: center;
  padding: 0 40px;
}

.qualidade-lista li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
}

.qualidade-lista li h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

/* quebra */

.quebra {
  background: url("../assets/bg-footer.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 220px;

  text-align: center;
  padding-top: 50px;
}

.quebra .quote-externo {
  max-width: 400px;
}

.footer {
  color: #fff;
  background: #000;
}

.footer h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 20px;
  color: #fec63e;
}

.footer h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0px 12px 0px;
}

.footer-historia {
  padding-right: 40px;
}

.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-redes ul li {
  display: inline-block;
}

.footer img {
  border: 3px solid #fec63e;
  padding: 10px;
  margin-right: 10px;
}
.footer img:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  height: 60px;
  background: #fec63e;
}

.copy p {
  margin-top: 22px;
  color: #000;
}

/* JavaScript */

.js [data-slide] {
  position: relative;
}

.js [data-slide] > * {
  position: absolute;
  top: 0px;
  opacity: 0;
}

.js [data-slide] > .active {
  position: relative;
  opacity: 1;
  transition: opacity 500ms;
}

.js [data-slide-nav] {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.js [data-slide-nav] button {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: none;
  padding: 0px;
  border-radius: 6px;
  text-indent: -99px;
  overflow: hidden;
  background: #1d1d1d;
}

.js [data-slide-nav] button.active {
  background: #fec63e;
}

.js [data-anime] {
  opacity: 0;
}

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}

.js .anime {
  opacity: 1;
  transform: none;
  transition: opacity 800ms, transform 800ms;
}
